## Tugas Data Mining 1 (Data Integration)

#### Sumber Data : www.bps.com
##### Data tentang Luas Tanah dalam Hektar berdasarkan Provinsi di Indonesia

In [4]:
import numpy as np
import pandas as pd

In [5]:
hektarsawah1=pd.read_csv('hektarsawah1.csv')
hektarsawah2=pd.read_csv('hektarsawah2.csv')
hektarsawah3=pd.read_csv('hektarsawah3.csv')
hektarsawah4=pd.read_csv('hektarsawah4.csv')
hektarsawah5=pd.read_csv('hektarsawah5.csv')
hektarsawah6=pd.read_csv('hektarsawah6.csv')

hektarsawah_1=pd.merge(hektarsawah1, hektarsawah2,  on='Provinsi')
hektarsawah_2=pd.merge(hektarsawah3, hektarsawah4,  on='Provinsi')
hektarsawah_3=pd.merge(hektarsawah5, hektarsawah6,  on='Provinsi')
hektarsawah_4=pd.merge(hektarsawah_1, hektarsawah_2,  on='Provinsi')
hektarsawahfix=pd.merge(hektarsawah_4, hektarsawah_3,  on='Provinsi')
hektarsawahfix

,Provinsi,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,ACEH,348232,346305,356649,315277,312803,323010,359751,313649,307556,308973,300808,294129,290337
1,SUMATERA UTARA,538180,502839,462767,460486,453372,478521,464256,468724,467138,448722,438346,433043,423465
2,SUMATERA BARAT,225369,231939,228176,229469,227355,225623,228176,229693,231463,230775,224182,225890,226377
3,RIAU,128225,125966,118955,124985,128242,122255,122738,115961,115897,109585,93338,87594,71910
4,JAMBI,120552,122126,117482,119242,117543,116212,117336,112434,113757,113379,113546,101195,94735
5,SUMATERA SELATAN,512510,474429,484207,523922,530204,577821,611072,611386,629355,610314,612424,616753,620632
6,BENGKULU,88432,85641,84164,83885,93779,89244,89614,92976,90217,88877,93382,88756,85131
7,LAMPUNG,303380,316017,313621,317413,342507,348732,349144,345437,350949,364111,360237,363055,377463
8,KEP. BANGKA BELITUNG,3186,3773,4111,4048,4176,3506,5017,4056,5932,6133,5358,7490,10654
9,KEP. RIAU,-,-,76,82,124,133,238,442,393,559,487,405,246
10,DKI JAKARTA,2738,2563,1866,1466,1200,1200,1215,1312,1098,1001,895,778,650
11,JAWA BARAT,934140,932337,925900,926782,934845,945544,937373,930268,930507,923575,925042,924307,912794
12,JAWA TENGAH,995469,996197,964102,963401,962942,963984,960768,962471,960970,962289,952980,966647,965262
13,DI YOGYAKARTA,57612,56982,57188,56218,55540,55332,55325,55523,55291,55023,55126,54417,53553
14,JAWA TIMUR,1115239,1108361,1100574,1096479,1096605,1108578,1100517,1107276,1106449,1105550,1102921,1101765,1091752
15,BANTEN,207530,196589,194504,196538,196370,195583,195809,196744,197165,195951,194716,200480,199492
16,BALI,81870,81557,80211,79252,80251,80873,79185,81425,80164,79399,78425,76655,75922
17,NUSA TENGGARA BARAT,226627,222968,225708,232851,231129,230986,236420,238619,240180,246569,253208,254298,264666
18,NUSA TENGGARA TIMUR,103341,109070,100194,112715,122649,124416,139943,142479,144574,148810,169063,172954,177238
19,KALIMANTAN BARAT,253316,283021,292220,321838,290392,292687,300906,307016,318581,322541,330883,323959,330724
20,KALIMANTAN TENGAH,156645,167776,159516,166703,159059,157406,171428,175633,202237,226903,225836,215545,196553
21,KALIMANTAN SELATAN,420086,423884,435940,440720,471042,477336,464581,436318,457155,451869,440429,431437,450152
22,KALIMANTAN TIMUR,92982,89769,88846,90786,92934,84235,88308,82796,90518,90887,63323,55485,57000
23,KALIMANTAN UTARA,-,-,-,-,-,-,-,-,-,-,21762,21775,21448
24,SULAWESI UTARA,64605,59393,57969,60262,61098,61133,61134,52789,56181,56173,56157,60475,55820
25,SULAWESI TENGAH,121670,120049,113715,119463,128250,129016,130879,136241,137786,143475,146721,141448,128323
26,SULAWESI SELATAN,619084,626634,558935,552940,560989,567520,565601,572089,576559,592376,602728,623139,628148
27,SULAWESI TENGGARA,66939,69432,73646,62286,65338,82806,89601,83356,85585,92280,95378,96826,103812
28,GORONTALO,27598,25955,25561,25668,27794,31327,29062,29566,28707,30728,32239,32116,32058
29,SULAWESI BARAT,-,-,60531,48884,50800,53220,56056,59476,55016,59020,61070,62312,61292
30,MALUKU,8401,8542,8542,8657,10035,11461,11281,11451,14085,15972,15042,13519,13394
31,MALUKU UTARA,11867,11867,11867,11867,11782,13630,8890,9478,9093,9359,10510,10516,11802
32,PAPUA BARAT,4719,6290,7051,7735,8395,9116,9249,7711,7648,8330,9587,9587,10126
33,PAPUA,36021,36021,28970,28970,26397,29018,27454,27757,27756,27756,42350,42843,44462
34,INDONESIA,7876565,7844292,7743764,7791290,7855941,7991464,8068327,8002552,8095962,8127264,8128499,8111593,8087393

In [6]:
hektarsawahfix.to_csv( "hektarsawah.csv", index=False )