# Praktikum 1

## Pengenalan

In [4]:
print("Hello World!")

Hello World!

In [18]:
# Type Variabel
Age = 23 
Weight = 55.5
Sex = "Female"

In [19]:
print(type(Age))
print(type(Weight))
print(type(Sex))

<class 'int'>
<class 'float'>
<class 'str'>

In [17]:
#List
fruits=[] #empty list
fruits=["apple","banana"] # list with 2 element
another_list = ["this is string", 10] # list with different type

In [20]:
print(fruits)

['apple', 'banana']

In [21]:
print(another_list)

['this is string', 10]

In [22]:
combined=[fruits, another_list]
print(combined)

[['apple', 'banana'], ['this is string', 10]]

In [23]:
gabung=fruits+another_list

In [24]:
#add element to list
fruits=["apple","banana","manggo"]
fruits.append("orange")
print(fruits)

#atau
fruits=fruits+["durian"]
print(fruits)

['apple', 'banana', 'manggo', 'orange']
['apple', 'banana', 'manggo', 'orange', 'durian']

In [26]:
#Tupple
coordinate=(0,5)
colors=("red","green","blue")
print(coordinate)
print(colors)
print(coordinate, colors)

(0, 5)
('red', 'green', 'blue')
(0, 5) ('red', 'green', 'blue')

In [35]:
#Perbedaan list dan tuple
# 1. list bisa ditambahkan isinya, kalau tuple tidak bisa
# 2. List bisa gabungan tipe datanya : string, numerik, dll, kalau tuple tidak
# 3. List pakai kurung siku, tuple siku biasa

## Data Integration

In [30]:
import pandas as pd
import numpy as np

In [31]:
#Merging
left=pd.DataFrame({'key':['K0','K1','K2','K3'],
                  'A':['A0','A1','A2','A3'],
                  'B':['B0','B1','B2','B3']})
right=pd.DataFrame({'key':['K0','K1','K2','K3'],
                  'C':['C0','C1','C2','C3'],
                  'D':['D0','D1','D2','D3']})
result1=pd.merge(left,right, on='key')

In [33]:
print(result1)

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [34]:
result1

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [37]:
#Mutiple Key
left=pd.DataFrame({'key1':['K0','K0','K1','K2'],
                   'key2':['K0','K1','K0','K1'],
                  'A':['A0','A1','A2','A3'],
                  'B':['B0','B1','B2','B3']})
right=pd.DataFrame({'key1':['K0','K1','K1','K2'],
                    'key2':['K0','K0','K0','K0'],
                  'C':['C0','C1','C2','C3'],
                  'D':['D0','D1','D2','D3']})
result2=pd.merge(left,right, on=['key1','key2'])

In [38]:
result2

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2