### Data Pre Processing

#### Sumber Data : https://archive.ics.uci.edu, Data tentang Thyroid Diseases

In [33]:
import numpy as np
import pandas as pd

In [34]:
thyroid=pd.read_csv('thyroid disease.csv')
thyroid.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,referral source,Unnamed: 28
0,41.0,F,f,f,f,f,f,f,f,f,...,2.5,t,125.0,t,1.14,t,109.0,f,SVHC,negative.|3733
1,23.0,F,f,f,f,f,f,f,f,f,...,2.0,t,102.0,f,NaN,f,NaN,f,other,negative.|1442
2,46.0,M,f,f,f,f,f,f,f,f,...,NaN,t,109.0,t,0.91,t,120.0,f,other,negative.|2965
3,70.0,F,t,f,f,f,f,f,f,f,...,1.9,t,175.0,f,NaN,f,NaN,f,other,negative.|806
4,70.0,F,f,f,f,f,f,f,f,f,...,1.2,t,61.0,t,0.87,t,70.0,f,SVI,negative.|2807

In [35]:
thyroid.describe()

,age,TSH,T3,TT4,T4U,FTI
count,2799.00000,2516.000000,2215.000000,2616.000000,2503.000000,2505.000000
mean,51.84423,4.672150,2.024966,109.072401,0.997912,110.787984
std,20.46116,21.449453,0.824600,35.392443,0.194390,32.883986
min,1.00000,0.005000,0.050000,2.000000,0.310000,2.000000
25%,36.00000,0.440000,1.600000,88.000000,0.880000,93.000000
50%,54.00000,1.400000,2.000000,104.000000,0.980000,107.000000
75%,67.00000,2.600000,2.400000,125.000000,1.080000,124.000000
max,455.00000,478.000000,10.600000,430.000000,2.120000,395.000000

In [36]:
np.sum(thyroid.isnull())

age                            1
sex                          110
on thyroxine                   0
query on thyroxine             0
on antithyroid medication      0
sick                           0
pregnant                       0
thyroid surgery                0
I131 treatment                 0
query hypothyroid              0
query hyperthyroid             0
lithium                        0
goitre                         0
tumor                          0
hypopituitary                  0
psych                          0
TSH measured                   0
TSH                          284
T3 measured                    0
T3                           585
TT4 measured                   0
TT4                          184
T4U measured                   0
T4U                          297
FTI measured                   0
FTI                          295
TBG measured                   0
referral source                0
Unnamed: 28                    0
dtype: int64

In [37]:
thyroid['age']=thyroid['age'].fillna((thyroid['age'].median()))
thyroid['TSH']=thyroid['TSH'].fillna((thyroid['TSH'].mean()))
thyroid['T3']=thyroid['T3'].fillna((thyroid['T3'].mean()))
thyroid['TT4']=thyroid['TT4'].fillna((thyroid['TT4'].mean()))
thyroid['T4U']=thyroid['T4U'].fillna((thyroid['T4U'].mean()))
thyroid['FTI']=thyroid['FTI'].fillna((thyroid['FTI'].mean()))
np.sum(thyroid.isnull())

age                            0
sex                          110
on thyroxine                   0
query on thyroxine             0
on antithyroid medication      0
sick                           0
pregnant                       0
thyroid surgery                0
I131 treatment                 0
query hypothyroid              0
query hyperthyroid             0
lithium                        0
goitre                         0
tumor                          0
hypopituitary                  0
psych                          0
TSH measured                   0
TSH                            0
T3 measured                    0
T3                             0
TT4 measured                   0
TT4                            0
T4U measured                   0
T4U                            0
FTI measured                   0
FTI                            0
TBG measured                   0
referral source                0
Unnamed: 28                    0
dtype: int64

In [38]:
from scipy.stats import mode

In [39]:
thyroid['sex'].mode()

0    F
dtype: object

In [40]:
thyroid['sex']=thyroid['sex'].fillna(thyroid['sex']).dropna().mode()[0]

In [41]:
thyroid.isnull().sum()

age                          0
sex                          0
on thyroxine                 0
query on thyroxine           0
on antithyroid medication    0
sick                         0
pregnant                     0
thyroid surgery              0
I131 treatment               0
query hypothyroid            0
query hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH measured                 0
TSH                          0
T3 measured                  0
T3                           0
TT4 measured                 0
TT4                          0
T4U measured                 0
T4U                          0
FTI measured                 0
FTI                          0
TBG measured                 0
referral source              0
Unnamed: 28                  0
dtype: int64

In [42]:
from scipy import stats

In [43]:
thyroid1=thyroid.drop('sex',1)
z=np.abs(stats.zscore(thyroid1._get_numeric_data()))
print(z)

[[5.30216944e-01 1.65882557e-01 6.47845172e-01 4.65675032e-01
  7.73245576e-01 5.74964509e-02]
 [1.41024507e+00 2.81451708e-02 3.40485060e-02 2.06775692e-01
  7.85441686e-15 0.00000000e+00]
 [2.85764688e-01 1.81623972e-01 5.45078924e-15 2.11677581e-03
  4.78419691e-01 2.96232077e-01]
 ...
 [1.13205840e+00 1.74764820e-16 5.45078924e-15 1.10888877e+00
  1.07704221e+00 2.32213183e+00]
 [3.98701630e-01 1.60963365e-01 5.45078924e-15 2.65249668e-01
  9.13781523e-01 3.28389216e-01]
 [1.42540111e+00 1.70801749e-01 7.15942184e-01 1.44068164e-01
  4.30578592e-02 1.35446383e-01]]

In [44]:
thyroid=thyroid[(z < 3).all(axis=1)]
print(thyroid.shape)

(2641, 29)